/* .shopping-cart-component{
    margin: 0;
    padding: 0;
  
    font-family: 'Raleway', sans-serif;
    text-align: center;
  
  } */

.shopping-cart-modal-button{
  /* margin: 15% auto; */
  background-color: #FF9933 !important;
  font-family: 'Raleway', sans-serif;
  max-height: 100px;
  max-width: 100px; 
  color: #93004E !important;
  
}

.shopping-cart-modal-button img{
  max-height: 50px;
  max-width: 40px 
}

.shopping-cart-container{
  text-align: center
}